<h1>Adicione um usuário</h1>
<form accept="/users/create" method="POST" class="form">
<div class="form-control">
    <label>Nome:</label>
    <input type="text" name="name" placeholder="Digite o nome do usuário">
</div>
<div class="form-control">
    <label>Profissão:</label>
    <input type="text" name="occupation" placeholder="Digite o nome do usuário">
</div>
<div class="form-control form-checkbox">
    <input type="checkbox" name="newsletter" checked>
    <label>Enviar promossões?</label>
</div>
<input type="submit" value="Cadastrar">
</form>